<div class="container">
    <div class="jumbotron">
        <h1>
            {{name}}
        </h1>
    </div>
    <div>
        {{userName}}<br />
        <b>Kullanıcı Adı</b>
        <input type="text" [(ngModel)]="userName" />
        <input type="button" value="Gönder" [disabled]="userName==''" (click)="getUserDetail()" />
    </div>
    <div *ngIf="User!=null; then content else othercontent"></div>
    <ng-template #content>
        <font color="red"><b><h3>{{User.bio}}</h3></b></font>
        <table class="table">
            <tr>
                <td><img [src]="User.avatar_url" width="200" alt="User.name" /></td>
                <td><textarea cols="100" rows="20">{{User | json}}</textarea></td>
            </tr>
        </table>
        <div *ngIf="Repos!=null; then reposContent else otherReposContent"></div>
        <ng-template #reposContent>
            <repos [RepoList]="Repos" (sayMyName)="alertMessage($event)">
            </repos>
        </ng-template>
        <ng-template #otherReposContent>
            Lütfen Sabırlı olunuz...
        </ng-template>
    </ng-template>
    <ng-template #othercontent>
        Kullanıcı adını giriniz
    </ng-template>
</div>
